.guide-info-card {
  width: 25.5vw;
  height: 33vh;
  background-color: #fdfdfd;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  .title {
    position: absolute;
    top: 1.5rem;
    left: 1.8rem;
    color: $color-primary;
    font-size: $card-title-size;
  }

  .count {
    position: absolute;
    top: 5.2rem;
    left: 1.8rem;
    font-size: 5rem;
    font-weight: 500;
  }

  .time {
    position: absolute;
    top: 13rem;
    left: 1.8rem;
    font-size: 2rem;
    font-weight: 500;
    color: #acacac;
  }
}
